<h3> Instructions </h3>
<br>
<p>1. Open the notebook file that needs to be copied and edited.<br>
2. Go to the "File" tab in the notebook's menu bar.<br>
3. Select "Save to Drive" to create a copy of the notebook in your own Google Drive.<br>
4. Once the notebook is saved to your Drive, open it for editing.<br>
<br>
To work on the exercises in the notebook, follow these steps:<br>
1. Read the instructions and explanations provided for each exercise carefully<br>
2. Write your code solutions for each exercise in the designated code cells.<br>
3. Download the dataset (.csv file) shared in the folder and upload it to the colab session.<br>

Important Note: It is recommended to read and understand the exercises thoroughly, as questions related to this assignment may be asked in a quiz.</p>

 ## Welcome To The Week1 Assignment
 
#### In this assignment we will analyze the Titanic dataset with the help of pandas <br>

![Titanic](https://akm-img-a-in.tosshub.com/indiatoday/images/story/201506/bil0510_rms-titanic_647_060515043509.jpg?size=1200:675)

`Note: You will be asked various question from this assignment in the Google Form, and also you need to submit this notebook. So Kindly maintain this Notebook Properly`

### 1) Start this assignment by importing all the important Libraries
for eg. import pandas as pd

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### 2) Read the csv file and assign it to a variable

Note: Download the titanic.csv file from the google drive, and place it in the folder same as this notebook

In [5]:
a = pd.read_csv('./titanic.csv')

#### Display the first 5 entries of DataFrame
Hint: use head() function

In [ ]:
a.head()

#### Display the last 5 entries of DataFrame
Hint: use tail() function

In [ ]:
a.tail()

### 3) Display the shape of the Dataframe

In [ ]:
sns.pairplot(a)

### 4) Print all the columns of the Dataframe

In [ ]:
print(a.columns)

About Data:<br>
__PassangerId__: Passanger Number<br>
__Survived__: Dead(0), Alive(1)<br>
__PClass__: Class in which the passenger is travelling<br>
__Name__: Name of the Passenger<br>
__Sex__: Male,Female<br>
__Age__: Age of the passenger<br>
__SibSp__: Number of siblings<br>
__Parch__: # of siblings / spouses aboard the Titanic<br>
__Ticket__: Ticket number<br>
__Fare__: Passenger Fare<br>
__Cabin__: Cabin number<br>
__Embarked__: Port of Embarkation (C = Cherbourg, Q = Queenstown, S = Southampton)<br>

### 5) Print the unique values in each column

In [ ]:
for column in a.columns:
    unique_values = a[column].unique()
    print(f"Column '{column}' unique values:")
    print(unique_values)
    print()

### 6) Find the columns that has null values in them

Hint: You can use isnull() function

In [ ]:
columns_with_null_values = a.columns[a.isnull().any()]
print("Columns with null values:")
for column in columns_with_null_values:
    print(column)

### 7) Show various statistics of all the numerical columns

Hint: Use describe()

In [ ]:
numerical_columns = a.select_dtypes(include=[float, int])
statistics = numerical_columns.describe()
print(statistics)

### 8) Drop the column that has maximum null values and update the Dataframe

In [ ]:
column_with_max_nulls = a.isnull().sum().idxmax()
a = a.drop(column_with_max_nulls, axis=1)
print(a)

### 9) Display the data type of the remaining columns(use updated dataframe)

In [ ]:
column_data_types = a.dtypes
print(column_data_types)

### 10) Display the sex ratio (female /male)
use value_counts()

In [ ]:
sex_counts = a['Sex'].value_counts()
female_count = sex_counts['female']
male_count = sex_counts['male']
sex_ratio = female_count / male_count
print("Sex Ratio (Female / Male):", sex_ratio)

### 11) Find the number of people that Survived

In [ ]:
survived_counts = a['Survived'].value_counts()
num_survived = survived_counts[1]
print("Number of people who survived:", num_survived)

### 12) Find the person with maximum and minimum age
use .max() and .min() <br>
You need to print the row of the dataframe where the person with max and min age is present

In [19]:
max_age = a['Age'].max()
min_age = a['Age'].min()

In [ ]:
person_with_max_age = a[a['Age'] == max_age]
person_with_min_age = a[a['Age'] == min_age]

print("Person with maximum age:\n", person_with_max_age)
print("\nPerson with minimum age:\n", person_with_min_age)

### 13) Find the number of Class 2 tickets sold

In [ ]:
class_counts = a['Pclass'].value_counts()
num_class_2_tickets_sold = class_counts[2]
print("Number of Class 2 tickets sold:", num_class_2_tickets_sold)

### 14) Find the number of females who survived the crash

In [ ]:
num_females_survived = len(a[(a['Survived'] == 1) & (a['Sex'] == 'female')])
print("Number of females who survived:", num_females_survived)

### 15) Find the number of people who survived the crash and who paid fare less than 200

In [ ]:
num_people_survived_low_fare = len(a[(a['Survived'] == 1) & (a['Fare'] < 200)])
print("Number of people who survived and paid fare less than 200:", num_people_survived_low_fare)

### Extra Questions (Will not be considered for evaluation)

Try plotting different columns with each other, and see what inferences you can think about the dataset

In [ ]:
sns.scatterplot(x='Age', y='Fare', data=a)
plt.title('Age vs Fare')
plt.show()

sns.boxplot(x='Survived', y='Age', data=a)
plt.title('Survived vs Age')
plt.show()

sns.countplot(x='Pclass', hue='Survived', data=a)
plt.title('Survival Count by Passenger Class')
plt.show()